@import 'bootstrap_overwrite.scss';
@import "navbar.scss";
//@import '../css/lightboxgallery.css';
* {
    font-family: Nunito;
    font-weight: 100;
}

section {
    position: relative;
    width: 100%;
    height: 100%;
}

section::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;
}

div#child {
    margin: 0 auto;
}

.divider {
    padding: 60px;
}

h4 {
    padding-top: 10px;
    font-family: Nunito;
    font-weight: 100;
    font-size: 24px;
    text-align: center;
    color: white;
}

h5 {
    //    padding-top: 30px;
    padding-bottom: 20px;
    font-family: Nunito;
    font-weight: 100;
    font-size: 18px;
    //    text-align: left;
    text-align: center;
    color: white;
    br {
        line-height: 150%;
    }
}

.section_1 {
    width: 100%;
    height: 980px;
    background-image: url('../img/edited_dim.jpg');
    //    filter: brightness(0.85);
    background-size: cover;
    ;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 180px;
    .square {
        background-blend-mode: color-burn;
        box-shadow: 7px 7px 28px -10px rgba(74, 74, 74, 1);
        width: 680px;
        height: 416px;
        margin: auto;
        border: 3px solid white;
        .logo {
            width: 500px;
            padding-top: 50px;
            padding-left: 180px;
        }
        .logo_caption {
            text-align: center;
            padding-top: 20px;
            color: white;
            font-family: Nunito;
            font-weight: 200;
            font-size: 36px;
            //            text-shadow: 1px 1px 10px rgba(74, 74, 74, 0.5);
        }
    }
}

.header_style {
    align-self: center;
    align-content: center;
    text-align: center;
    padding-top: 30px;
    letter-spacing: 3px;
    color: white;
    font-family: Nunito;
    font-style: 100;
    font-weight: 100;
    font-size: 60px;
    padding-bottom: 70px;
}

.section_offer {
    width: 100%;
    height: auto;
    background: #C59C9C;
    align-self: center;
    align-content: center;
    background-size: 1920px auto;
    background-repeat: no-repeat;
    background-position: center top;
    padding: 70px 150px 70px 150px;
    .header_offer {
        text-align: center;
        padding-bottom: 70px;
        font-family: Nunito;
        font-style: 200;
        font-size: 50px;
        color: white;
    }
    .table {
        align-self: center;
        td:last-child {
            text-align: right;
        }
    }
    .table_offer_option {
        font-size: 30px;
        font-weight: 200;
        padding-bottom: 20px;
        font-family: Nunito;
        color: white;
    }
    .table_offer_option_details {
        font-size: 20px;
        font-weight: 200;
        font-family: Nunito;
        color: white;
    }
    .img-responsive {
        padding-left: 140px;
        padding-top: 40px;
        min-width: 100px;
        width: 75%;
        height: auto;
    }
}

.section_gallery {
    width: 100%;
    padding: 70px 150px 70px 150px;
    background: #4A3835;
}

.distance {
    padding: 30px;
}

.section_about_me {
    align-self: center;
    align-content: center;
    align-items: center;
    height: auto;
    background: #C6B3B3;
    padding-top: 70px;
    .avatar {
        border-radius: 50%;
        display: block;
        margin: 0 auto;
        width: 260px;
        height: auto;
    }
    .container {
        padding-top: 40px;
        text-align: center;
        align-content: center;
        color: white;
        font-size: 20px;
    }
    .distance {
        padding: 100px;
    }
    .cert_section {
        background: #553D40;
        padding: 30px;
        width: 100%;
        .cert {
            display: block;
            margin: 0 auto;
            height: auto;
            width: 100%;
            padding: 10px;
        }
        .kurs_cert {
            display: block;
            margin: 0 auto;
            height: auto;
            width: 100%;
        }
    }
}

.section_contact {
    padding-top: 70px;
    padding-bottom: 70px;
    height: auto;
    background: #C6B3B3;
    font-family: Nunito;
    font-weight: 100;
}

.map {
    height: 400px;
}

.icon_space {
    padding-bottom: 60px;
}

img.vector_icon {
    height: 110px;
    width: auto;
}

.vertical-align {
    display: flex;
    flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Optional, to align inner items 
                              horizontally inside the column */
}


/**
 *  Do NOT include this part into your stylesheet.
 *  "flex: 1" or "flex-grow: 1" is added to make the inner div
 *  - Which is also a flex-item - take up all the horizontal space
 *  available space inside the flex container (.col-* elements)
 */

.vertical-align > [class^="col-"] > div,
.vertical-align > [class*=" col-"] > div {
    /* flex: 1; */
    flex-grow: 1;
}

.demo a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
}

.demo a:hover {
    opacity: .5;
}

.demo a {
    padding-top: 30px;
}

.demo a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 2s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb04 {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
    20% {
        -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
}

@keyframes sdb04 {
    0% {
        transform: rotate(-45deg) translate(0, 0);
    }
    20% {
        transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
        transform: rotate(-45deg) translate(0, 0);
    }
}

.section_contact {}

div.image div.col-md-2 {
    padding: 0px;
}

.col-md-2 {
    //        border: 3px solid red;
    padding: 0;
}

.col-md-6 {
    border: 3px solid red;
    //        padding-top: 100px;
}

nav {
    font-size: 12ps;
}

body {
    font-size: 9px;
}

@media (max-width: 1490px) {
   .section_offer {
        align-content: center;
        width: 100%;
        padding: 30px 50px 30px 50px;
        .container{
            width:100%;
        }
    }
    .section_gallery {
            width: 100%;
        .container{
            width: 100%;
        }
    }
}

@media (max-width: 1300px) {
    .section_offer {
        align-content: center;
        width: 100%;
        padding: 30px 50px 30px 50px;
        .container{
            width:100%;
        }
    }
    .section_gallery {
            width: 100%;
        .container{
            width: 100%;
        }
//            padding: 50px 50px 70px 90px;
    }
}

@media (max-width: 1199px) {
    .header_style {
        align-self: center;
        align-content: center;
        text-align: center;
        padding-top: 20px;
        letter-spacing: 2px;
        color: white;
        font-family: Nunito;
        font-style: 100;
        font-weight: 100;
        font-size: 50px;
        padding-bottom: 20px;
    }
    .section_1 {
        width: 100%;
    }
    .section_offer {
        width: 100%;
        padding: 30px 50px 30px 50px;
        .container{
            max-width: 100%;
        }
    }
    .section_gallery {
        width: 100%;
        padding: 30px 50px 30px 50px;
    }
    .section_about_me {
        .cert_section {}
        //        padding: 30px 50px 30px 50px;
        .avatar {
            border-radius: 50%;
            display: block;
            margin: 0 auto;
            width: 200px;
            height: auto;
            .distance {
                padding: 50px;
            }
        }
    }
}

@media(max-width: 991px) {
    .section_1 {
        width: 100%;
        padding-top: 230px;
        font-size: 20px;
        .square {
            width: 580px;
            height: 354.82;
            .logo {
                vertical-align: middle;
                width: 460px;
                height: auto;
                padding-top: 60px;
                padding-left: 140px;
            }
            .logo_caption {
                vertical-align: middle;
                padding-top: 20px;
                color: white;
                font-family: Nunito;
                font-weight: 200;
                font-size: 30px;
            }
        }
    }
    .section_offer {
        width: 100%;
//        padding: 30px 50px 30px 50px;
    }
    .section_gallery {
        width: 100%;
        padding: 30px 50px 30px 50px;
    }
}

@media (max-width: 768px) {
    .section_1 {
        width: 100%;
        padding-top: 230px;
        font-size: 20px;
        .square {
            width: 580px;
            height: 354.82;
            .logo {
                vertical-align: middle;
                width: 460px;
                height: auto;
                padding-top: 60px;
                padding-left: 140px;
            }
            .logo_caption {
                //            text-align: center;
                vertical-align: middle;
                padding-top: 20px;
                color: white;
                font-family: Nunito;
                font-weight: 200;
                font-size: 30px;
                //            text-shadow: 1px 1px 10px rgba(74, 74, 74, 0.5);
            }
        }
    }
    .section_offer {
        width: 100%;
        padding: 30px 50px 30px 50px;
    }
    .section_gallery {
        width: 100%;
        padding: 30px 50px 30px 50px;
    }
    .section_about_me {
        .cert_section {}
        //        padding: 30px 50px 30px 50px;
        .avatar {
            border-radius: 50%;
            display: block;
            margin: 0 auto;
            width: 200px;
            height: auto;
            .distance {
                padding: 50px;
            }
        }
    }
}

@media (max-width: 768px) {
    .section_1 {
        width: 100%;
        padding-top: 230px;
        font-size: 20px;
        .square {
            width: 580px;
            height: 354.82;
            .logo {
                vertical-align: middle;
                width: 460px;
                height: auto;
                padding-top: 60px;
                padding-left: 140px;
            }
            .logo_caption {
                //            text-align: center;
                vertical-align: middle;
                padding-top: 20px;
                color: white;
                font-family: Nunito;
                font-weight: 200;
                font-size: 30px;
                //            text-shadow: 1px 1px 10px rgba(74, 74, 74, 0.5);
            }
        }
    }
    .section_offer {
        width: 100%;
        padding: 30px 50px 30px 50px;
    }
    .section_gallery {
        width: 100%;
        padding: 30px 50px 30px 50px;
    }
    //    .section_about_me {
    //        padding: 30px 50px 30px 50px;
    //        .distance {
    //            padding-top: 50px;
    //        }
    //    }
}

@media (max-width: 600px) {
    #bg {
        padding: 10px;
    }
    #search-bg {
        background-position: center -10px;
    }
    .section_1 {
        width: 100%;
        height: 700px;
        padding-top: 200px;
        .square {
            align-self: center;
            align-content: center;
            width: 380px;
            height: 223px;
            font-size: 30px;
            border: 2px solid white;
            .logo {
                width: 300px;
                height: auto;
                vertical-align: middle;
                padding-top: 10px;
                padding-left: 100px;
                //            padding-top: 50px;
                //            padding-left: 180px;
            }
            .logo_caption {
                //            text-align: center;
                padding-top: 20px;
                color: white;
                vertical-align: middle;
                font-family: Nunito;
                font-weight: 200;
                font-size: 22px;
                //            text-shadow: 1px 1px 10px rgba(74, 74, 74, 0.5);
            }
        }
    }
    .section_offer {
        padding: 30px 50px 60px 50px;
        background-size: auto auto;
        .header_offer {
            text-align: center;
            padding-bottom: 70px;
            font-family: Nunito;
            font-style: 200;
            font-size: 50px;
            color: white;
        }
        .table_offer_option {
            font-size: 24px;
            font-weight: 200;
            padding-bottom: 16px;
            font-family: Nunito;
            color: white;
        }
        .table_offer_option_details {
            font-size: 16px;
            font-weight: 200;
            font-family: Nunito;
            color: white;
        }
        .img-responsive {
            padding-left: 140px;
            padding-top: 40px;
            min-width: 100px;
            width: 75%;
            height: auto;
        }
    }
}


/* Landscape tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1199px) {}


/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {}